<p style="color: green"><%= notice %></p>

<div id="review">
  <h1> Review <% review.product.name %> </h1>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Opinion</th>
        <th>Calificacion</th>
      </tr>
    </thead>
    <tbody>
  <%@reviews.each do |review| %>
    <tr>
        <td><%= review.user.name %></td>
        <td><%= review.content %></td>
        <td><%= review.grade %></td>
        <td><%= link_to "Show me this Product", product %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>
