<!DOCTYPE html>
<html>
  <head>

    <title>Proyecto Software</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

  </head>

  <body class="m-4">

    <% if user_signed_in? %>

      <% if current_user.email.include?("@admin") %>
        <% current_user.role = 1 %>
        <% current_user.save %>
      <% end %>


        <nav>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

              <%= link_to current_user.name, edit_user_registration_path, class: "navbar-item" %>

              <% if current_user.admin? %>


                <%= link_to "Mis Reservas", orders_path, class: "navbar-item" %>


                <a class="navbar-item">
                  Ver Rese침as
                </a>

                <a class="navbar-item">
                  Ver Usuarios
                </a>

              <% else %>

                <%= link_to "Mis Reservas", order_path(current_user.id), class: "navbar-item" %>

                <%= link_to "Mis Rese침as", reviews_path, class: "navbar-item" %>

                <%= link_to "Productos", products_path, class: "navbar-item" %>

                

              <% end %>

              </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <%= button_to "Cerrar Sesi칩n", destroy_user_session_path, method: :delete, class: "button is-primary"%>
                </div>
              </div>
            </div>

          </div>
        </nav>

    <% else %>

      <nav>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">

              <%= link_to new_user_registration_path, class: "button is-primary" do %>
                <strong>Registrarse</strong>
              <% end %>

              <%= link_to "Inicar Sesi칩n", new_user_session_path, class: "button is-light" %>

            </div>
          </div>
        </div>

      </nav>

    <% end %>

    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
